body {
  padding: 200px;
  position: relative;
}

.load::before, .load::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: black;
  animation: 1.3s loading infinite linear
}
.load::after {
  animation-delay: .75s;
 
}

@keyframes loading {
  from {
    width: 0;
    height: 0;
    opacity: 1;
  }

  to {
    width: 60px;
    height: 60px;
    opacity: 0;
  }
}